{% extends "base.html" %}
Karriere
Preise

<!---------------------------BODY-------------------------------->
{% block body %}
<body >
<!---------------------------ADVERTISEMENT-------------------------------->
<p class="advertise-font">"Haushaltskosten im Überblick mit unserer Software!"</p>
<!---------------------------ADVERTISEMENT-------------------------------->


<!---------------------------IMAGE-------------------------------->
<div class="box-shadow" style="margin-top: 100px;text-align: center">
    <a href="banking"><img src="../static/images/result_table.png" alt=""></a>
</div>
<!---------------------------IMAGE-------------------------------->

{% endblock %}

</body>
<!---------------------------BODY-------------------------------->

</html>